# --------- multi-tacred --------- #
google-cloud-translate==2.0.1   # Translation with Google
spacy                    	# Tokenization
trankit>=1.1.1           	# Tokenization for more languages
git+https://github.com/DFKI-NLP/sherlock@0.2.2#egg=sherlock     # Relation classification with AllenNLP/Transformers
transformers[ja]        	# Transformers support for Japanese

# --------- hydra --------- #
hydra-core>=1.2.0

# --------- linters --------- #
pre-commit      # hooks for applying linters on commit
flake8          # code analysis
black>=22.6.0   # 
typer>=0.4.2    #

# --------- others --------- #
python-dotenv>=0.20.0   # loading env variables from .env file
